#user-datepicker-from {
    background-color: rgb(255, 255, 255);
    /* border-style: rounded; */
    border-radius: 20px;
    text-align: center; 
    margin-right: 2%;
    float:left;
    width: 25%;
    height: 10%;
    padding: 1.5% 2.5%;
}

#user-datepicker-to {
    background-color: rgb(255, 255, 255);
    /* border-style: rounded; */
    border-radius: 20px;
    text-align: center; 
    width: 25%;
    margin-right: 2%;
    padding: 1.5% 2.5%;
}