body {
    background-color:#555;
    /* overflow: hidden;  Hide scrollbars */
}
.navbar-fixed {
    position: absolute;z-index:999999999;
    
}

#home-nav {
    width: 60%;
    top: 10%;
    left: 20%;
    right: 20%;
    /* font-size: 100px; */
}

.home-link {
    font-size: 160%;
    color: black;
}

.home-brand-logo{
    color: black;
    font-size: 180%;
}
